<h1>Github Pages</h1>

<app-search></app-search>
<div class="row">
    <div class="col-md-5">
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1511367461989-f85a21fda167%3Fixid%3DMnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfHw%253D%26ixlib%3Drb-1.2.1%26w%3D1000%26q%3D80&imgrefurl=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fprofile&tbnid=c4DKZX1IkCpVhM&vet=12ahUKEwiMhrTWu9PyAhXFwoUKHYW8DOEQMygEegUIARDOAQ..i&docid=b5C9ViMmmhpq-M&w=1000&h=563&q=profile%20pic&ved=2ahUKEwiMhrTWu9PyAhXFwoUKHYW8DOEQMygEegUIARDOAQ" alt="">
    </div>
    <div class="col-md-6">
        <h3>Repositories</h3>

    </div>
</div>

