h1{
    text-align: center;
    background-color:lightgreen;
 
 background-origin: border-box;
}
.span{
    background-color:plum;
    max-width: 300px;
    text-align: center;
}
.list-group{
    background-color: powderblue;
}
