<h1>Github Pages</h1>

<!-- <app-search></app-search> -->
<form class="form-inline" submit="searchUser">
    <div class="input-form">
        <input [(ngModel)]="user" (keyup)="showUserName()" name="user" type="search" class="form-control" placeholder="Input name" id="searchArea">
    </div>
    <div class="submit">
        <input (click)="showUserName()" (click)="getRepository()" type="submit" value="Submit" class="btn btn-primary btn-sm" >
    </div><br>
</form>
<div class="panel-body">
    <div class="row">
        <div  class="col-md-3">
            <img src="{{showProfile.avatar_url}}" class="img-circle img responsive" width="80%"   alt="profile image">
        </div>
        <div class="col-md-5">
            <ul class="list-group">
              <li class="list-group-item" *ngIf="showProfile.name"> {{showProfile.name}}</li>
              <li class="list-group-item" *ngIf="showProfile.bio"> {{showProfile.bio}}</li>
              <li class="list-group-item" *ngIf="showProfile.blog"><a href="{{showProfile.blog}}" target="_blank">{{showProfile.blog}}</a></li>
              <li class="list-group-item" *ngIf="showProfile.email"><a href="emailto:{{showProfile.email}}">{{showProfile.email}}</a></li>

            </ul>
        </div>
        <div class="col-md-4">
            <div class="span">
                <p>
                    <span class="label label-default">{{showProfile.followers}} Followers</span><br>
                    <span class="label label-primary">Following {{showProfile.following}}</span><br>
                    <span class="label label-info">{{showProfile.public_gists}}Public_gists</span><br>
                    <span class="label label-success">{{showProfile.public_repos}}Public_repos</span><br>
                  </p>
                  <p><a href="https://github.com/{{showProfile.login}}" target="_blank" class="btn btn-success btn-sm">View Profile on Github</a></p>
            </div>
        </div>
    </div>
</div>




<!-- <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Repos</h3>
        </div>
         <div class="panel-body" *ngFor="let repo of repos"></div> 
    </div> -->
    <!-- repo part -->
    <div class="row">
      <div *ngFor="let repo of repos">
          <p>Name:{{repo.name}}</p>
      </div>
    </div>