h1{
    text-align: center;
    background-color:lightgreen;
 
 background-origin: border-box;
}
.span{
    background-color:plum;
    max-width: 300px;
    text-align: center;
}
.list-group{
    background-color: powderblue;
}
.input-form{
    width: 80;
    padding: 8px 16px;
}
.submit{
    
    padding: 8px 16px;
}
*{
    padding: 0;
}
.repo{
    border:0;
    background-origin: padding-box;padding-left: 2px;
}