<h3>About</h3>
<p>Get started with github where you can search projects of your own and populate people with ideas.Feel free to sign up and follow the guide on how it works.</p>
<p>
    View projects on different repositories and learn.
    Follow the guide to get started if not yet.
</p>
    <ul>
   <b> Things which we get from Github:</b>
   <i><li>Store our projects there as repositoriesafter pushing them to our gh pages</li>
   <li>we can get to get some codes as examples and guide to what we have</li>
   <li>Our work does lost even if our computer crashes</li></i>

    </ul>

