<!-- <div class="search">
    <h2>Input Username</h2>
    <input type="text" placeholder="Input Username">
</div> -->
 <!-- <form class="form-inline" submit="searchUser">
    <div class="text-center">
        <input [(ngModel)]="username"  name="username" type="search" class="form-control" placeholder="Input username" id="searchArea">
    </div>
    {{showProfile.login}}
    <div>
        <input (click)="showUserName()" type="submit" value="search" class="btn btn-primary btn-sm" >
    </div>
</form>  -->